@import url("https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  outline: none;
}
body {
  font: 16px/1.5 "Poppins", sans-serif;
  background: var(--bodyColor);
  color: #111222;
}
#navbar {
  z-index: 2;
}
#navbar-content {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: white;
}

#navbar-content h2 {
  margin-right: 300px;
  -webkit-text-stroke: 0.5px white;
  -webkit-text-fill-color: black;
}
#navbar-content span {
  -webkit-text-fill-color: #60c045;
}

#navbar-content a {
  position: relative;
  margin: 10px 15px;
  text-decoration: none;
  color: black;
}
#navbar-content a:hover {
  color: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(114, 253, 45, 0.7818507863514459) 100%
  );
}

#navbar-content a:after {
  content: "";
  position: absolute;
  background-color: #5f8575;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

#navbar-content a:hover:after {
  width: 100%;
}
#navbar-content img {
  width: 30px;
  height: 30px;
}
#navBarimg {
  margin-left: 25px;
}

/*Profile*/
.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 1%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-img {
  margin-left: 5px;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}
.sub-menu {
  background-color: #fff;
  padding: 8px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link img {
  background: #e5e5e5;
  border-radius: 50%;
  padding: 2px;
  margin-right: 10px;
}

.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translate(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}
/*End of Profile */
/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #f2f2f2;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

form a {
  color: inherit;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}

select {
  appearance: none;
}

/* Remove native arrow on IE */
select::-ms-expand {
  display: none;
}

/*Remove dotted outline from selected option on Firefox*/
/*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
/*We use !important to override the color set for the select on line 99*/
select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

.container {
  z-index: -1;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.radiocontainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  line-height: 1.5;
  padding: 15px 10px;
  margin-bottom: 20px;
  border: 1px solid var(--borderFormEls);
  background: var(--bgFormEls);
}
.radiocontainer input[type="radio"] {
  height: 15px;
}
.radiocontainer label {
  display: block;
  float: left;
}
.my-form h1 {
  margin-bottom: 1.5rem;
}

.my-form li,
.my-form .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.my-form select,
.my-form input,
.my-form textarea,
.my-form button {
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form textarea {
  height: 170px;
}

.my-form ::placeholder {
  color: inherit;
  /*Fix opacity issue on Firefox*/
  opacity: 1;
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus,
.my-form button:enabled:hover,
.my-form button:focus,
.my-form input[type="checkbox"]:focus + label {
  background: var(--bgFormElsFocus);
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus {
  transform: scale(1.02);
}

.my-form *:required,
.my-form select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
}

.my-form *:required {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);
}

.my-form select {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}

.my-form *:disabled {
  cursor: default;
  filter: blur(2px);
}
.my-form .required-msg {
  display: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
    no-repeat center left / 15px 15px;
  padding-left: 20px;
}

.my-form .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

.my-form button {
  font-weight: bold;
}

.my-form button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.my-form button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}

.my-form button:enabled:hover .back,
.my-form button:focus .back {
  transform: translate(-50%, -50%);
}

.my-form button:enabled:hover .front,
.my-form button:focus .front {
  transform: translateX(110%);
}

.my-form input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.my-form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form input[type="checkbox"] + label::before,
.my-form input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
}

.my-form input[type="checkbox"] + label::before {
  left: 0;
  top: 6px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--white);
}

.my-form input[type="checkbox"]:checked + label::before {
  background: var(--red);
}

.my-form input[type="checkbox"]:checked + label::after {
  left: 7px;
  top: 7px;
  width: 6px;
  height: 14px;
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
}

@media screen and (min-width: 600px) {
  .my-form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }
  .my-form .grid-1 {
    grid-template-columns: 1fr;
  }

  .my-form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .my-form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }

  .my-form .required-msg {
    display: block;
  }
}

@media screen and (min-width: 541px) {
  .my-form input[type="checkbox"] + label::before {
    top: 50%;
    transform: translateY(-50%);
  }

  .my-form input[type="checkbox"]:checked + label::after {
    top: 3px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: gainsboro;
  width: 100%;
  margin-top: 50px;
  padding: 3rem 2rem;
  color: #111222;
}

footer a {
  color: #111222;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
}

.footer-container .about h2 {
  font-size: 3em;
  font-weight: 600;
  background: linear-gradient(to top, transparent 0%, #111222 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
}

.footer-container .about p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

.footer-container .infofooter,
.footer-container .follow {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-container .infofooter h3,
.footer-container .follow h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer-container .infofooter ul,
.footer-container .follow ul {
  display: flex;
  list-style-type: none;
}

.footer-container .infofooter a {
  margin: 20px;
  text-decoration: none;
}

.footer-container .follow a {
  font-size: 1.5em;
  margin: 20px;
}

.footer-copyright p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 50px;
}
