@import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');

*
{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-family :'Poppins' , sans-serif;
  box-sizing: border-box;
  
}
body {
  font-family: 'Poppins', sans-serif;
  
}

header{
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
header h2{
  margin-right: 500px;
  -webkit-text-stroke: 0.5px white;
	-webkit-text-fill-color: black;
}
header span{
  -webkit-text-fill-color: #60c045;
}
/* make navbar sticky */
header.sticky{
  padding: 10px 100px;
  background:#fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header a {
  position: relative;
  margin: 0 15px;
  text-decoration: none; 
  color:black;
}
header a:hover{
  color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(114,253,45,0.7818507863514459) 100%);
}

header a:after{
  content:"";
  position: absolute;
  background-color: #5F8575;
  height:3px;
  width: 0;
  left:0;
  bottom:-5px;
  transition:0.3s;
}

header a:hover:after{
  width:100%;
}
.instruct{
  background: #EDDFAB;
	width: 100%;
	padding: 20px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 60px 35px;
	background: #fff;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
h5{
	color: black;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: black;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EDDFAB;
  height: 625px;
}

#desc-area {
  display: flex;
  flex-direction: column;
}

#listing-description {
  width: 50vw;
  height: 25vh;
  resize: none;
}

textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.addimg{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Poppins',sans-serif;
}

.addimg:hover{
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

#img-display {
  max-width: 50vw;
  max-height: 50vh;
}

#upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins',sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.faqcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EDDFAB;
  height:450px;
  

}
.boxfaq{
  width: 500px;
  margin: 100px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.boxfaq .heading{
  background: #92D383;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-family :'Poppins' , sans-serif;
  font-weight: bold;
}

.faqs{
  padding: 0px 20px 20px;
}

::-webkit-details-marker{
  float: right;
  margin-top: 3px;
}

details{
  background: #f6f6f6;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  font-family: "Rubik";
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

details summary{
  outline: none;
  font-weight: bold;
}
